body {
    font-family:"Metropolis",sans-serif;
    margin: auto;
}
@mixin flex-things {
    align-items: center;
    display: flex;
}
@mixin grid-things {
    margin: 0 5% 0 9%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr)
}
@mixin grid-things1 {
    margin: 0 5% 0 9%;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
}
@mixin header-things {
    margin: 0% 20% 0 20%;
    padding-bottom: 4%;
    padding-top: 5%;
    text-align: center;
}
@mixin header-things-dop {
h1 {
    font-size: 35px;
    font-weight: $megabold;
    color: $gray1;
}
h2 {
    color: $gray;
    font-size: 18px;
    font-weight: normal;
}
h3 {
    font-size: 22px;
    color: $gray1;
}
}
@mixin footer-things {
    display: flex;
    flex-direction: column;
}
$bold: 600;
$megabold: 900;
$pink: #ed017f;
$pink1:#fce7f2;
$pink2:#fef9fc;
$gray:#999999;
$gray1:#343434;
$gray2:#676767;

%button1{
    display: flex;
    align-items: center;
    background-color: $pink;
    border-radius: 4px;
    padding: 0.4% 1.5rem 0.4% 1.5rem;
    color:white;
}
%button2{ 
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 1px $pink;
    border-radius: 4px;
    padding: 0.4% 1.5rem 0.4% 1.5rem;
    color:$pink;
}
